@import "./bootstrap.min";
@import "./reset-element";

$selected-color: #333;
$error-color: #e74c3c;

.feeds {
  list-style: none;
  padding-left: 0px;
  cursor: default;

  .feed {
    &:hover, &.selected {
      background-color: $selected-color;
    }

    &.selected {
      font-weight: bold;
    }

    &.error {
      color: $error-color;
    }
  }
}

.items {
  list-style: none;
  cursor: default;

  padding-left: 0;
  .item {
    &.selected, &:hover {
      & > span {
        background-color: $selected-color;
      }
    }

    &.selected {
      & > span {
        font-weight: bold;
      }
    }
  }
}

.context-menu {
  background: #222;
  ul {
    margin: 1px 5px;
    list-style: none;
    padding: 0;
    li {
      cursor: default;
      &:hover {
        background-color: #333;
      }
    }
  }
}
